*.class
*.log
**/*.zip

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
**/*.log

logs/**/*.*
vf.gf.*
**/build/**/*.*
**/bin/**/*.*
locator1/
locator/
server1/
server2/
server*/**/*.*
*.log
.idea/
.gradle/
.class
build/
.Rapp.history
cleanup.sh
data/server/**/*.*
