/bin/
StocksSpark/target
**/*.log
logs/**/*.*
vf.gf.*
**/build/**/*.*
**/bin/**/*.*
**/locator1/
**/locator/
**/server1/
**/server2/
**/server*/**/*.*
*.log
.idea/
.gradle/
.class
build/
.Rapp.history
cleanup.sh
data/server/**/*.*
SparkModel/
